body {
    background-color: rgb(249, 249, 250);
    color: #444;
    font-family: Georgia, Times, serif;
    overflow-y: scroll;
    margin: 0px;
}

.content {
    max-width: 700px;
    position: relative;
    background: #fff;
    opacity: 1;
    padding: 30px 60px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
    margin-bottom: -5px;
    margin-top: 5px;
    border-radius: 5px;
    border: solid 1px #d2d2d2;
    min-height: 800px;
}

/*****************
* BREADCRUMB
* ***************/

.breadcrumb {
    border-bottom: solid 1px #eee;
    padding-bottom: 5px;
    min-height:20px;
}

.bc-item {
    color: #bbb;
    text-decoration: none;
    margin: 0 8px;
    position: relative;
}

.bc-item:hover {
    text-decoration: underline;
}

.bc-item::after {
    position: absolute;
    right: -14px;
    content: " > ";
    color: #ddd;
    text-decoration: none;
}

/*****************
* TASKS
* ***************/

.new.fixed {
    position: fixed;
    bottom: 0px;
    width: 700px;
    background-color: white;
    border-top: solid 1px #ddd;
}

.new.fixed .level {
    padding-top: 5px;
}

.task {
    position: relative;
    margin-left: -40px;
    padding-left: 40px;
}

.toolbar-item  {
    cursor: pointer;
}

.toolbar {
    position: absolute;
    opacity: 1;
    width: 70px;
    text-align: center;
    font-size: 80%;
    left: -40px;
}

.task .plus::before, .task .fa-chain {
    content:"+";
}

.task .plus::before {
    left: 20px;
}

.toolbar-item {
    float:right;
    left: 0px;
    top: 2px;
    color: #ddd;
    margin-left: 3px;
    padding: 0px 0px;
    margin: 2px;
    display: inline-block;
    width: 16px;
    text-decoration: none;
}

.toolbar-item:hover, .plus:hover::before {
    color:#444;
    height: 16px;
}

.fa-chain {
    display: none;
}

.task .plus.open::before {
    content:"-";

}

.task:hover .fa-chain {
    display: block;
}

.description {
    clear:both;
    white-space:nowrap;
    overflow:hidden;
    display: block;
    text-overflow: ellipsis;
    color: #bbb;
    font-size: 13px;
}

.title .editable {
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 650px;
}

.level {
    margin-left: -20px;
    padding-left: 40px;
    background-color: white;
}

.level1 {
    font-size: 25px;
    padding: 10px 0 0px 0;
    margin: 0px;
}

.level2 {
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 2px;
}

.level3 {
    font-size: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.level3 .description {
    font-size: 12px;
}

.level4, .level5, .level6, .level7 {
    font-size: 13px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.level4 .description, .level5 .description, .level6 .description, .level7 .description {
    font-size: 11px;
}

.inputInherit {
    display: none;
    font-size: inherit;
    padding: 1px;
    margin: inherit;
    color: inherit;
    border:solid 1px #ddd;
    border-width: 0 0 1px 0;
    font-family: inherit;
    margin: -1px -1px 2px -1px;
    outline: 0;

}

.edit .inputInherit {
    display: inline;
}

.edit .editable {
    display: none;
}

.editable {
    display: inline;
}